.jiji{
    background-color: rgb(184, 153, 115);
}
#jojo{
    background-color:rgb(184, 153, 115) ;
}
#jaja{
    background-color: rgb(184, 153, 115);
}
.djo{
    background-color: rgb(184, 153, 115);
}
.navbar{
  background-color: brown;
  padding: 10px 10px;
  text-align: center;
}
#zz{
    color: black;
}
#ee{
    color: black;
}
#rr{
    color: black;
}
#tt{
    color: black;
}
body{
    background-color: bisque ;
}
#yy{
    text-decoration: underline;
}
#uu{
    text-decoration: underline;
}
#ii{
    text-decoration: underline;
}